body{
    font-family: Arial, sans-serif;
    background-color: slateblue;
    background-image: url('5559852.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    color: white;
    margin: auto;
}
h1 {
    font-size: 2.5em;
    margin-top: 20px;
}
p {
    font-size: 1.2em;
    margin: 10px 0;
}
.calculator {
  height: 335px;
  width: 303px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px auto;
}
.display{
    height: 60px;
    width: 275px;
    border: 2px solid white;
    background-color: white;
    color: slateblue;
    font-size: 30px;
    border-radius: 5px;
    text-align: right;
    padding-right: 4px;
    padding-top: 4px;
    margin: 10px;
    line-height: 60px;
}
button{
    height: 39px;
    width: 59px;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: slateblue;
}
button:hover {
    background-color: lightgray;
}
footer {
  margin-top: 40px;
  padding: 15px 0;
  background-color: #2424fc; 
  color: white;
  font-size: 14px;;
  border-top: 1px solid white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
